* { margin: 0; padding: 0; }

#page {
	width: 960px;
	margin: 0 auto;
}

#cabeza {
	background-color: #ff8d00;
	height: 100px;
}

#menu-contenedor {
	height: 50px;
}

ul#menu {
	padding: 0;
	height: 50px;
	background-color: #f1f5f9;
}

ul#menu li {
	display: inline-block;
}

ul#menu li a {
	padding: 0 10px;
	display: block;
	line-height: 50px;
	text-decoration: none;
	color: #353535;
}
ul#menu li a:hover {
	background-color: #ff8d00;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#contenido {
	/*height: 700px;*/
	height: auto;
}

.menu-fijo {
	position: fixed;
	top: 0;
	width: 960px;
}